PakTurk school system/Web References/AdmintTheStudent/AdmitStudent.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="enterStudentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clsroom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="section" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vac" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="normal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="deb" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="hep" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enterStudentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enterStudentInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="enterStudentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:enterStudentInfo" />
  </wsdl:message>
  <wsdl:message name="enterStudentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:enterStudentInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="AdmitStudentSoap">
    <wsdl:operation name="enterStudentInfo">
      <wsdl:input message="tns:enterStudentInfoSoapIn" />
      <wsdl:output message="tns:enterStudentInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdmitStudentSoap" type="tns:AdmitStudentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enterStudentInfo">
      <soap:operation soapAction="http://tempuri.org/enterStudentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdmitStudentSoap12" type="tns:AdmitStudentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enterStudentInfo">
      <soap12:operation soapAction="http://tempuri.org/enterStudentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdmitStudent">
    <wsdl:port name="AdmitStudentSoap" binding="tns:AdmitStudentSoap">
      <soap:address location="http://localhost:30570/PakTurkBLL/AdmitStudent.asmx" />
    </wsdl:port>
    <wsdl:port name="AdmitStudentSoap12" binding="tns:AdmitStudentSoap12">
      <soap12:address location="http://localhost:30570/PakTurkBLL/AdmitStudent.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>