PakTurk school system/Web References/ManageCourseWS/ManageCoursesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_Course_BLL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="course" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_Course_BLLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Delete_Course_BLLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_Course_BLL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="course" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_Course_BLLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Add_Course_BLLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Assign_To_Class_BLL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="course" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Assign_To_Class_BLLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Assign_To_Class_BLLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_Course_BLLSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_Course_BLL" />
  </wsdl:message>
  <wsdl:message name="Delete_Course_BLLSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_Course_BLLResponse" />
  </wsdl:message>
  <wsdl:message name="Add_Course_BLLSoapIn">
    <wsdl:part name="parameters" element="tns:Add_Course_BLL" />
  </wsdl:message>
  <wsdl:message name="Add_Course_BLLSoapOut">
    <wsdl:part name="parameters" element="tns:Add_Course_BLLResponse" />
  </wsdl:message>
  <wsdl:message name="Assign_To_Class_BLLSoapIn">
    <wsdl:part name="parameters" element="tns:Assign_To_Class_BLL" />
  </wsdl:message>
  <wsdl:message name="Assign_To_Class_BLLSoapOut">
    <wsdl:part name="parameters" element="tns:Assign_To_Class_BLLResponse" />
  </wsdl:message>
  <wsdl:portType name="ManageCoursesWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Course_BLL">
      <wsdl:input message="tns:Delete_Course_BLLSoapIn" />
      <wsdl:output message="tns:Delete_Course_BLLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add_Course_BLL">
      <wsdl:input message="tns:Add_Course_BLLSoapIn" />
      <wsdl:output message="tns:Add_Course_BLLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Assign_To_Class_BLL">
      <wsdl:input message="tns:Assign_To_Class_BLLSoapIn" />
      <wsdl:output message="tns:Assign_To_Class_BLLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManageCoursesWebServiceSoap" type="tns:ManageCoursesWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Course_BLL">
      <soap:operation soapAction="http://tempuri.org/Delete_Course_BLL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Course_BLL">
      <soap:operation soapAction="http://tempuri.org/Add_Course_BLL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Assign_To_Class_BLL">
      <soap:operation soapAction="http://tempuri.org/Assign_To_Class_BLL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManageCoursesWebServiceSoap12" type="tns:ManageCoursesWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Course_BLL">
      <soap12:operation soapAction="http://tempuri.org/Delete_Course_BLL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Course_BLL">
      <soap12:operation soapAction="http://tempuri.org/Add_Course_BLL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Assign_To_Class_BLL">
      <soap12:operation soapAction="http://tempuri.org/Assign_To_Class_BLL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageCoursesWebService">
    <wsdl:port name="ManageCoursesWebServiceSoap" binding="tns:ManageCoursesWebServiceSoap">
      <soap:address location="http://localhost:30570/PakTurkBLL/ManageCoursesWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ManageCoursesWebServiceSoap12" binding="tns:ManageCoursesWebServiceSoap12">
      <soap12:address location="http://localhost:30570/PakTurkBLL/ManageCoursesWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>