PakTurk school system/Web References/searchStudent/SearchRegisteredStudent.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="searchStudentFromDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rgno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ln" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchStudentFromDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchStudentFromDBResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="searchStudentFromDBSoapIn">
    <wsdl:part name="parameters" element="tns:searchStudentFromDB" />
  </wsdl:message>
  <wsdl:message name="searchStudentFromDBSoapOut">
    <wsdl:part name="parameters" element="tns:searchStudentFromDBResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchRegisteredStudentSoap">
    <wsdl:operation name="searchStudentFromDB">
      <wsdl:input message="tns:searchStudentFromDBSoapIn" />
      <wsdl:output message="tns:searchStudentFromDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchRegisteredStudentSoap" type="tns:SearchRegisteredStudentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchStudentFromDB">
      <soap:operation soapAction="http://tempuri.org/searchStudentFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchRegisteredStudentSoap12" type="tns:SearchRegisteredStudentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchStudentFromDB">
      <soap12:operation soapAction="http://tempuri.org/searchStudentFromDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchRegisteredStudent">
    <wsdl:port name="SearchRegisteredStudentSoap" binding="tns:SearchRegisteredStudentSoap">
      <soap:address location="http://localhost:30570/PakTurkBLL/SearchRegisteredStudent.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchRegisteredStudentSoap12" binding="tns:SearchRegisteredStudentSoap12">
      <soap12:address location="http://localhost:30570/PakTurkBLL/SearchRegisteredStudent.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>