PakTurk school system/Web References/creatUser/CreateUserWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Create_User_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txtFName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtLName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtPhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtMobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtEMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comboUserType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create_User_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Create_User_LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Create_User_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Create_User_Login" />
  </wsdl:message>
  <wsdl:message name="Create_User_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:Create_User_LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="CreateUserWebServiceSoap">
    <wsdl:operation name="Create_User_Login">
      <wsdl:input message="tns:Create_User_LoginSoapIn" />
      <wsdl:output message="tns:Create_User_LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateUserWebServiceSoap" type="tns:CreateUserWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create_User_Login">
      <soap:operation soapAction="http://tempuri.org/Create_User_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreateUserWebServiceSoap12" type="tns:CreateUserWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create_User_Login">
      <soap12:operation soapAction="http://tempuri.org/Create_User_Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateUserWebService">
    <wsdl:port name="CreateUserWebServiceSoap" binding="tns:CreateUserWebServiceSoap">
      <soap:address location="http://localhost:30570/PakTurkBLL/CreateUserWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CreateUserWebServiceSoap12" binding="tns:CreateUserWebServiceSoap12">
      <soap12:address location="http://localhost:30570/PakTurkBLL/CreateUserWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>